streamlit  (downloaded)
openai-whisper (downloaded)
transformers (downloaded)
sentence-transformers (downloaded)
torch (downloaded)
faiss-cpu
opencv-python
moviepy
yt-dlp (downloaded)
pillow (downloaded)
scikit-learn
rank-bm25
pgvector
psycopg2-binary
sqlalchemy
ffmpeg-python (downloaded)
tf-keras (downloaded)
